@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --orange:#FF8C00;
    --blue:#53b1b1;
}
body{

        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        height:100vh;
        overflow:hidden;
        
    
}
.container{
    max-width:1280px;
    margin:0 auto;
}

nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    
    height:72px;
}
.logo img{
    width:150px;
    height:auto;
}
nav ul{
    display:flex;
    list-style:none;
    gap:24px;
}
button{
    all:unset;
    padding:6px 16px;
    background:var(--blue);
    height:32px;
    color:white;
    font-weight:400;
    
}
.human{
    align-items:center;
    display:flex;
    justify-content:space-between;
    height:calc(100vh-72px);
}
.human-content{
    display:flex;
    flex-direction:column;
    gap:5px;
}
.human h2{
    font-weight:800;
    line-height:1.1;
    font-size:72px;
    margin-bottom:5px;
}
.human p{
    font-weight:400;
    color:black;
    margin-bottom:8px;
    max-width:400px;

}
.human-btn{
    display:flex;
    gap:40px;
}
.human-btn button{
    font-size:24px;
}
.secondary-btn{
    background:transparent;
    
    color:black;
    border:1px solid black;
}
.shopping p{
    font-size:14px;
    margin-bottom:8px;
}
.brand-icons{
    display:flex;
    gap:20px;
    size:10px;
}

